{{ define "content" }}
<div class="flex flex-col items-center">
    <div class="text-left  max-w-[60%]">
        <p class="text-xl" > I was an professional eSports player and turned my hobby of coding into my career. I enjoy full stack development and have passion for creating a great UX experience for users. I am a quick learner and always looking to improve my skills.</p>
        <p class="text-xl">I look foward to working on cutting edge projects, emphasis of bringing useful and innovative solutions users.</p>

    </div>
</div>
{{ end }}
