<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Enno Aragon</title>
    <script  src="/static/js/themeModeSelector.js"  type="text/javascript"></script>
</head>
<body class="bg-gradient-45 from-custom-background from-60% via-custom-gradiant via-70% to-custom-background to-80%  text-white min-w-full min-h-screen h-screen font-Lato leading-normal tracking-normal "  >
        {{ template "nav" . }}
        <main class="container min-w-full min-h-full h-full w-full relative pt-14">
            {{ template  "content" . }} 
        </main>
</body>
</html>

