package templates

templ Experience() {
    <div class="flex flex-col items-center h-fit">
        <p class="text-6xl">Experience</p>
        <p>Here are some of the things I've done in the past.</p>
        <ul>
            <li>Software Engineer at Google</li>
            <li>Software Engineer at Facebook</li>
            <li>Software Engineer at Microsoft</li>
        </ul>
    </div>
}
