package templates

templ footer() {
    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
        <p>© 2024 - <a href="/">Home</a> - <a href="/about">About</a> - <a href="/contact">Contact</a></p>
    </footer>
}
