package templates

templ Home() {
    <div class="flex flex-col items-center justify-center w-full h-fit mt-24">    
        <div class="text-left w-home-max max-w-home-max text-wrap mx-auto pl-10">
            <p class="text-7xl">Enno Aragon</p>            
            <p class="text-base mt-6">Hey, I’m Enno Aragon an ex pro-gamer turned programmer.</p>
            <p class="text-base mt-6">My journey began in 2014 when I offered 
                to create a website for my father’s business. I quickly found 
                myself in over my head, grappling with server deployment and the 
                complexities of backend and frontend development. I found a 
                welcome distraction as my eSports career took off, which you 
                can read more about <a class="text-secondary" href="/about">here </a>. 
                It was fun but by 2019, I was ready to dive back into 
                programming. Since completing my undergraduate studies, I've 
                initiated numerous projects… though many have yet to see the 
                light of day. I've had the privilege to develop software 
                during my content creation and gaming days, working at a startup, 
                and  myself  
                <a target="_blank" rel="noopener noreferrer" href="https://idropstudios.com" 
                    class="text-secondary">
                    idropstudios
                </a>.
            </p>
            <p class="text-base mt-6">Today, my focus is on self-improvement 
                and honing my skills as an engineer. I've achieved this by 
                creating a diverse range of applications that deliver quick 
                responses and a seamless user experience (UX). My projects 
                include CLI tools, web apps for friends, and Discord 
                applications for my D&D campaigns. My most ambitious challenge 
                yet has been venturing into video game development. Each 
                project not only sharpens my technical skills but also broadens 
                my perspective as a developer. To learn more about my projects, 
                click <a class="text-secondary" href="/projects">here</a>.
            </p>
            <p class="text-base mt-6">When I'm not working on a project, you'll 
                find me outdoors hiking, capturing landscapes through 
                photography, staying active, or ticking off destinations from 
                my travel bucket list. Check out some of my favorite shots
                <a class="text-secondary" href="/about">here</a>.
            </p>
            <ul class="text-base mt-4">
                <li class="text-base">👨‍💻 Software Engineer</li>
                <li class="text-base">🎮 Ex Pro-Gamer</li>
                <li class="text-base">📸 Photographer</li>
                <li class="text-base">🏞️ Traveler</li>
            </ul>
        </div>
    </div>
}
