package templates
// we will need to cylce through range of itmes that we can parse later
templ Project() {

    <div class="flex   min-w-full">
        <p class="text-8xl ">Projects</p>

        <div class="text-white border-white box-border ">
        <h1>Title</h1>
        <p>Content</p>

        </div>
    </div>
}
