package partials

templ Footer() {
    <footer class="relative flex justify-end text-right w-full pr-4 b-0">
        <p class="text-custom-gray">2024 - Present © EnnoAragon - Developed by iDropStudios</p>
    </footer>
}
