{{ define "nav" }}
<nav class="bg-gray-800 p-2 mt-0 fixed w-full z-10 top-0">
    <div class="container mx-auto flex justify-between">
        <div>
           <a href="/" class="text-white text-3xl">Enno Aragon</a>
        </div>
        <div class="flex flex-col justify-center ml-3">
            <button id="theme-toggle" class="bg-gray-800 text-white px-3 py-2 rounded">
                Toggle Theme
            </button>
        </div>
    <div>
        <a href="/" class="text-white text-lg">Home</a>
        <a href="/about" class="text-white text-lg">About</a>
        <a href="/projects" class="text-white text-lg">Projects</a>
    </div>
    </div>
</nav>
{{ end }}

